body {
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    font-weight: bold;
}

kbd {
    font-weight: bold;;
}

fieldset {
    text-align: center;
    width: 50%;
    border: 2px dotted red;
}